<footer>
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="container">
        <div class="container">
          <div class="nav-left nav-menu">
            <a class="nav-item" href="/">
              © 2021 Lucas Hoeft
            </a>
          </div>
          <div class="nav-right nav-menu">
            <a class="nav-item" target="_blank" rel="noopener noreferrer" href="https://github.com/lucashoeft">
              GitHub
            </a>
            <a class="nav-item" target="_blank"  rel="noopener noreferrer" href="https://www.linkedin.com/in/lucashoeft">
              LinkedIn
            </a>
            <a class="nav-item" target="_blank"  rel="noopener noreferrer" href="https://twitter.com/lucashoeft">
              Twitter
            </a>
            <a class="nav-item" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/lucashoeft/">
              Instagram
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>