<div class="hero-head">

      <header class="nav">
        <div class="container">
          <div class="nav-left">
          </div>
          <span id="nav-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div id="nav-menu" class="nav-right nav-menu">
            <a class="nav-item is-active" href="/">
              Home
            </a>
            <a class="nav-item" href="/work.html">
              Work
            </a>
            <a class="nav-item" href="/contact.html">
              Contact
            </a>
          </div>
        </div>
      </header>
    </div>