// ###############
//  Default Theme
// ###############

@import "bulma"

// colors

$white: #ffffff
$light-blue: #EBEDEE
$dark-blue: #1A1D20
$red: #ff0000

// colors from light mode
// colors
$black-light: #000000
$blue-light: #6D727E

// colors from dark mode
$black-dark: #101118
$blue-dark: #9AA1A7

// fonts

$family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default

*
  background-color: $white !important
  @media (prefers-color-scheme: dark)
    background-color: $black !important

// hero header
.hero.is-success
  background-color: $white !important
  .title
    color: $dark-blue !important
    @media (prefers-color-scheme: dark)
      color: $white !important
  .subtitle
    color: $blue-light !important
    padding-top: 20px !important
    padding-bottom: 20px !important
    // margin-bottom: 0px !important
    line-height: 32px !important
    @media (prefers-color-scheme: dark)
      color: $blue-dark !important
  .nav
    box-shadow: none !important
  .nav-menu
    background-color: $white !important
    box-shadow: none !important
    @media (prefers-color-scheme: dark)
      background-color: $black !important
  @media (prefers-color-scheme: dark)
    background-color: $black !important

.hero.is-success a.nav-item, .hero.is-success .nav-item a:not(.button)
  color: $blue-light !important
  margin-top: 20px 
  margin-bottom: 20px
  @media (prefers-color-scheme: dark)
    color: $blue-dark !important

.hero.is-success .nav-toggle span
  background-color: $blue-light !important
  @media (prefers-color-scheme: dark)
    background-color: $blue-dark !important

// body
.hero-body
  margin-left: 20px !important
  margin-right: 20px !important
  .title
    color: $dark-blue !important
    @media (prefers-color-scheme: dark)
      color: $white !important
  .subtitle
    color: $blue-light !important
    line-height: 32px !important
    @media (prefers-color-scheme: dark)
      color: $blue-dark !important

.title.thanks-for-watching
  // padding-top: 40px !important

.caption
  color: $blue-light !important
  padding-top: 10px !important
  font-style: italic !important
  padding-bottom: 10px !important
  @media (prefers-color-scheme: dark)
    color: $blue-dark !important

#nav-menu
  background-color: $white !important
  // does not work because var is not declared
  @media (prefers-color-scheme: dark)
    background-color: $black !important

// footer
.nav-left.nav-menu
  float: left !important
  pointer-events: none !important
  cursor: default !important
  // background-color: $black !important

.nav-right.nav-menu
  float: right !important
  // background-color: $black !important

.hero-foot.work
  margin-top: 20px !important
  margin-bottom: 20px !important

.nav-menu
  // background-color: $black !important
  box-shadow: none !important
  .nav-item
    border-top: none !important
  @media (prefers-color-scheme: dark)
    background-color: $black !important

// links
.go-home
  color: $blue-light !important
  text-decoration: underline !important
  @media (prefers-color-scheme: dark)
    color: $blue-dark !important

// section
.section
  margin-left: 100px !important

//links
a.nav-item.footeritem
  margin-bottom: 20px !important

// img#emoji
//   height: 1em !important
//   vertical-align: top !important
