---
permalink: /404.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¯\_(ツ)_/¯</title>

    <!-- Links -->
    <link rel='stylesheet' href='/stylesheets/css/style.css' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon/v3.ico">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon"  href="/apple-touch-icon.png"> <!-- sizes="180x180" -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  </head>
<body>

  <section class="hero is-success is-fullheight">
    
    <!-- Hero header: will stick at the top -->
    {% include navigation.html %}

    <main>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-left">
        <h1 class="title">
          404
        </h1>
        <h2 class="subtitle">
          Oops! Nothing here. Lets go back <a href="/" class="go-home">home</a>.
        </h2>
      </div>
    </div>
  </main>

  {% include footer.html %}
  
</section>

  <!-- Scripts -->
  <script src="/js/min/hamburger-min.js"></script>
</body>
</html>
