---
permalink: /work.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work — Lucas Hoeft</title>

    <!-- Links -->
    <link rel='stylesheet' href='/stylesheets/css/style.css' type='text/css'><link rel="shortcut icon" type="image/x-icon" href="/assets/favicon/v3.ico">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon"  href="/apple-touch-icon.png"> <!-- sizes="180x180" -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  </head>
<body>

  <section class="hero is-success is-medium">

  <!-- Hero header: will stick at the top -->
    {% include navigation.html %}

  <main>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left">
      <h1 class="title">
        Work
      </h1>
      <h2 class="subtitle">
        <a href="/work/photography.html" class="go-home">Photography</a><br>
        <a href="https://github.com/lucashoeft" class="go-home" target="_blank" rel="noopener noreferrer">Development (GitHub)</a>
        <br>
        <br>
        Hand-picked selection of my design work.
      </h2>
    </div>



<!-- Gallery -->
<div class="container">

  <div class="columns">
    <div class="column">
      <a href="/work/design/translator_app.html">
      <figure class="image is-4by3">
        <img src="/assets/img/translator_app/thumbnail.png" alt="Thumbnail of the Translator App Concept">
      </figure>
      </a>
    </div>
    <div class="column">
      <a href="/work/design/banking_app.html">
      <figure class="image is-4by3">
        <img src="/assets/img/banking_app/thumbnail.png" alt="Thumbnail of the Banking App Concept">
      </figure>
      </a>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <a href="/work/design/android_tv_app.html">
      <figure class="image is-4by3">
        <img src="/assets/img/android_tv_app/thumbnail.png" alt="Thumbnail of the Android TV App Concept">
      </figure>
      </a>
    </div>
    <div class="column">
      <a href="/work/design/g_calendar_website.html">
      <figure class="image is-4by3">
        <img src="/assets/img/g_calendar_website/thumbnail.png" alt="Thumbnail of the Google Calendar Concept">
      </figure>
      </a>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <a href="/work/design/macpass_website.html">
      <figure class="image is-4by3">
        <img src="/assets/img/macpass_website/thumbnail.png" alt="Thumbnail of the MacPass Website Concept">
      </figure>
    </a>
    </div>
    <div class="column">
      <a href="/work/design/deliveries_app.html">
      <figure class="image is-4by3">
        <img src="/assets/img/deliveries_app/thumbnail.png" alt="Thumbnail of the Delivery App Concept">
      </figure>
      </a>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <a href="/work/design/calendar_app.html">
      <figure class="image is-4by3">
        <img src="/assets/img/calendar_app/thumbnail.png" alt="Thumbnail of the Calendar App for iOS Concept">
      </figure>
    </a>
    </div>
    <div class="column">
      <a href="/work/design/festival_tickets.html">
      <figure class="image is-4by3">
        <img src="/assets/img/festival_tickets/thumbnail.png" alt="Thumbnail of the Festival Tickets App Concept">
      </figure>
      </a>
    </div>
  </div>
</div>
</div>
</section>
</main>

{% include footer.html %}

<!-- Scripts -->
<script src="/js/min/hamburger-min.js"></script>
</body>
</html>
